<div>
    <h1 id="skills">{{miPortfolio.skillstitle}}</h1> 
  <div>
    <div id="hardskills" class="container" >    
      
                <div class="border border-success p-1 mb-1 border-opacity-75 rounded-1">
                    <div class="row">
                        <div class="col-sm-12"> <h3>{{miPortfolio.hardskills}}</h3></div></div>  
                    <div class="row">
                    <div class="col-sm-4"><img [src]="miPortfolio.backImage5" alt="IndicadorVisual" height="100" width="100"></div>
                    <div class="col-sm-4"><img [src]="miPortfolio.backImage6" alt="IndicadorVisual" height="100" width="100"></div> 
                    <div class="col-sm-4"><img [src]="miPortfolio.backImage7" alt="IndicadorVisual" height="100" width="100"></div>
                    </div>
  
                    <div class="row">
                        <div class="col-sm-4"><h5>{{miPortfolio.methodology}}</h5></div>
                        <div class="col-sm-4"><h5>{{miPortfolio.readingcomprehension}}</h5></div> 
                        <div class="col-sm-4"><h5>{{miPortfolio.englishknowledge}}</h5></div>
                        </div>                      
        
            <div class="row">
            <div class="col-sm-11"><span></span> </div>   
        </div>
  
            <div class="row">
            <div class="col-sm-12 mt-3"><div class="text-center"><h3 >{{miPortfolio.softskills}}</h3></div></div>
        </div> 
  
        <div class="row">
            <div class="col-sm-4"><img [src]="miPortfolio.backImage8" alt="IndicadorVisual" height="100" width="100"></div>            
            <div class="col-sm-4"><img [src]="miPortfolio.backImage9" alt="IndicadorVisual" height="100" width="100"></div>
            <div class="col-sm-4"><img [src]="miPortfolio.backImage10" alt="IndicadorVisual" height="100" width="100"></div> 
         </div>
  
            <div class="row">
                <div class="col-sm-4"><h5>{{miPortfolio.orientresults}}</h5></div>
                <div class="col-sm-4"><h5>{{miPortfolio.flexibility}}</h5></div> 
                <div class="col-sm-4"><h5>{{miPortfolio.involvment}}</h5></div>
                </div>   
                </div>
    </div>
