<div>
    <div class="container" id="awards">
            <h2>{{miPortfolio.awards}}</h2>
       
        <div class="row">
            <div class="col-sm-3 mt-4 mb-1 pt-0 pb-0 border border-0">
                <img [src]="miPortfolio.image5" alt="awards" height="115" width="132">  
            </div>
  
            <div class="col-sm-9 mt-4">
                <div class="row">
                <div class="col-sm-12 my-0 py-0"><h5>{{miPortfolio.descript51}}</h5></div>  
                <div class="col-sm-12 my-0 py-0"><h5>{{miPortfolio.descript52}}</h5></div>
                <div class="col-sm-12 py-0 my-0"><h5>{{miPortfolio.descript53}}</h5></div>
                <div class="col-sm-12 py-0 my-0"><h5>{{miPortfolio.descript54}}</h5></div>   
        </div>
            </div>
        </div>
    </div>
