<section>
    <h3 id="empowerment"> {{miPortfolio.trainingstitle}}</h3>
   
  <div id="site" class="container" >     
  
    <div class="row">
        <div class="col-sm-3"> <b>{{miPortfolio.planning}}</b></div>
        <div class="col-sm-3"> {{miPortfolio.aa}}</div>
        <div class="col-sm-3"> <b>{{miPortfolio.fm}}</b></div>
        <div class="col-sm-3"> {{miPortfolio.ifir}}</div>
        </div>
  
    <div class="row">
        <div class="col-sm-3"> <b>{{miPortfolio.ppm}}</b></div>
        <div class="col-sm-3"> {{miPortfolio.cfg}}</div>
        <div class="col-sm-3"> <b>{{miPortfolio.pjct}}</b></div>
        <div class="col-sm-3"> {{miPortfolio.cgdo}}</div>
        </div>
  
        <div class="row">
            <div class="col-sm-3"> <b>{{miPortfolio.cad}}</b></div>
            <div class="col-sm-3"> {{miPortfolio.glyptopubco}}</div>
            <div class="col-sm-3"> <b>{{miPortfolio.kpi}}</b></div>
            <div class="col-sm-3"> {{miPortfolio.cfg}}</div>
            </div>
  
        <div class="row">
            <div class="col-sm-3"> <b>{{miPortfolio.kmi}}</b></div>
            <div class="col-sm-3"> {{miPortfolio.idea}}</div>
            <div class="col-sm-3"> <b>{{miPortfolio.geniman}}</b></div>
            <div class="col-sm-3"> {{miPortfolio.servic}}</div>
            </div>
  
            <div class="row">
                <div class="col-sm-3"> <b>{{miPortfolio.negocen}}</b></div>
                <div class="col-sm-3">{{miPortfolio.capavon}}</div>
                <div class="col-sm-3"> <b>{{miPortfolio.compycont}}</b></div>
                <div class="col-sm-3"> {{miPortfolio.ifir}}</div>
                </div>
        
            <div class="row">
                <div class="col-sm-3"> <b>{{miPortfolio.estrep}}</b></div>
                <div class="col-sm-3"> {{miPortfolio.cfg}}</div>
                <div class="col-sm-3"> <b>{{miPortfolio.mancenconf}}</b></div>
                <div class="col-sm-3"> {{miPortfolio.cfg}}</div>
                </div>
        
                <div class="row">
                    <div class="col-sm-3"> <b>{{miPortfolio.segelec}}</b></div>
                    <div class="col-sm-3">{{miPortfolio.forex}}</div>
                    <div class="col-sm-3"> <b>{{miPortfolio.metytiemp}}</b></div>
                    <div class="col-sm-3">{{miPortfolio.refa}}</div>
                    </div>
        
                <div class="row">
                    <div class="col-sm-3"> <b>{{miPortfolio.lidef}}</b></div>
                    <div class="col-sm-3">{{miPortfolio.capavon}}</div>
                    <div class="col-sm-3"> <b>{{miPortfolio.lidcambor}}</b></div>
                    <div class="col-sm-3">{{miPortfolio.capavon}}</div>
                    </div> 
                    
                    <div class="row">
                        <div class="col-sm-3"> <b>{{miPortfolio.probytomdec}}</b></div>
                        <div class="col-sm-3">{{miPortfolio.capavon}}</div>
                        <div class="col-sm-3"> <b>{{miPortfolio.intelemoc}}</b></div>
                        <div class="col-sm-3">{{miPortfolio.capavon}}</div>
                        </div>
            
                    <div class="row">
                        <div class="col-sm-3"> <b>{{miPortfolio.relhum}}</b></div>
                        <div class="col-sm-3">{{miPortfolio.carnegiecenter}}</div>
                        <div class="col-sm-3"> <b>{{miPortfolio.suiteoffice}}</b></div>
                        <div class="col-sm-3">{{miPortfolio.capavon}}</div>
                        </div>                          
        </div>
    </section>
