<div class="container">
    <div class="row">
    <div class="col-sm-12 mt-1 ms-0 ps-0"> <img id="banner" [src]="miPortfolio.backImage3" height="500" width="965" alt="Banner" ></div></div>
    <img id="portrait" [src]="miPortfolio.backImage4" alt="Foto" height="100" width="100" class="border border-secondary border-3">
    <div><p id="texto0">{{miPortfolio.name}}</p></div>
    <b id="texto1">{{miPortfolio.position}}</b>
    
    <h4 id="acerca">{{miPortfolio.aboutMe}}</h4>
    <p id="semblanza" align="justify">{{miPortfolio.profile}}</p>
            </div>
